@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./scroolbar.css");
@import url("./wave.css");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
}

main {
  background-color: var(--cor3);
}

.header-site {
  width: 100%;
  min-height: 70px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  position: fixed;
  top: 0px;
  z-index: 99;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor2);
  transition-duration: 1s;
}

[data-contexto="black"] {
  --cor1: white;
  --cor2: black;
  --cor3: black;

  --cor-btn-login1: white;
  --cor-btn-login2: black;

  --cor-scroll1: black;
  --cor-scroll2: black;
}

[data-contexto="white"] {
  --cor1: #060c2d;
  --cor2: white;
  --cor3: rgb(229, 229, 229);

  --cor-btn-login1: #060c2d;
  --cor-btn-login2: white;

  --cor-scroll1: rgb(169, 169, 169);
  --cor-scroll2: rgb(229, 229, 229);
}

nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > div:nth-child(1) {
  height: 100%;
  min-width: 65px;
  width: 6%;
  justify-content: end;
}

nav > div:nth-child(1) > img {
  border-radius: 50%;
  padding: 1px;
  width: 55px;
  height: 55px;
  background-position: center;
  cursor: pointer;
}

nav > div:nth-child(2) {
  height: 100%;
  justify-content: space-evenly;
}

nav > div:nth-child(2) > a {
  text-decoration: none;
  color: var(--cor1);
  position: relative;
  transition-duration: 1s;
}

nav > div:nth-child(2) > a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--cor1);
  transition-duration: 1s;
  margin-top: 1px;
}

nav > div:nth-child(2) > a:hover::after {
  width: 100%;
  transition-duration: 0.5s;
}

nav > div:nth-child(3) {
  height: 100%;
  min-width: 130px;
  width: calc(6% + 60px);
  justify-content: start;
}

.estilizacao-btn {
  padding: 10px;
  width: 120px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2px;
  background-color: white;
  color: black;
  border: 2px solid black;
  font-size: 17px;
  transition-duration: 1s;
}

.estilizacao-btn:hover {
  background-color: var(--cor-btn-login1);
  color: var(--cor-btn-login2);
  transition-duration: 0.2s;
}

.container1 {
  width: 100%;
  min-height: 600px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 85%,
      rgb(0, 0, 0) 100%
    ),
    url("../imgs/img-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1__div {
  margin-bottom: 10vh;
  color: white;
  text-align: center;
}

.container1__div__header h1,
.container1__div__header__subtitulo,
.container1__div__header__paragrafo {
  text-shadow: 0px 0px 5px black;
}

.container1__div__header__subtitulo {
  font-weight: 300;
  font-size: 35px;
}
.container1__div__header__subtitulo > span {
  font-weight: 600;
}

.container1__div__header__titulo {
  font-weight: 700;
  margin: 20px 0;
}

.container1__div__header__paragrafo {
  font-size: 25px;
}

.container1__div__header__paragrafo > span {
  font-weight: 600;
}

.container__redesSociais {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 60px;
}

.container__redesSociais > a {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.container__redesSociais > a:hover {
  transform: scale(1.15);
  transition: 0.2s;
}

.container__redesSociais__linkedin:hover {
  border: 1px solid rgba(6, 146, 174, 1);
  background: rgba(6, 146, 174, 0.1);
  transition: 0.2s;
}

.container__redesSociais__instagram:hover {
  border: 1px solid rgba(164, 2, 94, 1);
  background: rgba(164, 2, 94, 0.1);
  transition: 0.2s;
}

.container__redesSociais__github:hover {
  border: 1px solid rgba(6, 42, 174, 1);
  background: rgba(6, 42, 174, 0.1);
  transition: 0.2s;
}

.container__redesSociais > a:hover::before {
  height: 100%;
  width: 100%;
  transition-duration: 0.3s;
}

.container__redesSociais > a > img {
  width: 60%;
  filter: drop-shadow(1px 1px 2px black);
  transition: 0.2s;
}

.container-modelo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-modelo__header {
  text-align: center;
}

.container-modelo__div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-modelo__header__h2 {
  font-size: 35px;
  color: var(--cor1);
  font-weight: 700;
}

.span-projetos {
  height: 100%;
  display: grid;
  gap: 20px;
}

.img-projetos {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(31, 38, 135, 0.2);
  background-color: var(--cor2);
}

.img-projetos-hover {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  transition-duration: 1s;
  position: absolute;
  bottom: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.img-projetos-hover-div-conteudo {
  text-align: center;
}

.img-projetos-hover-titulo {
  font-size: 20px;
  font-weight: 700;
  color: var(--cor1);
}

.img-projetos-hover-paragrafo {
  color: var(--cor1);
  margin: 7px 10% 0 10%;
  font-size: 14px;
  max-width: 400px;
  font-weight: 500;
}

.ver {
  height: 40px;
  width: 90px;
  padding: 0;
  font-size: 15px;
  background-color: transparent;
}

.span-projetos > a:nth-child(1) {
  grid-area: img1;
}

.span-projetos > a:nth-child(2) {
  grid-area: img2;
}

.span-projetos > a:nth-child(3) {
  grid-area: img3;
}

.span-projetos > a:nth-child(4) {
  grid-area: img4;
}

.header-API {
  padding-top: 5px;
}

.span-API {
  background-color: red;
  width: 60%;
  height: 60vh;
}

.container-maps {
  width: 100%;
}

.container-footer {
  width: 100%;
  height: 235px;
  background-color: var(--cor1);
  color: var(--cor2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-footer {
  height: 50px;
  border-radius: 50%;
}

.redes-sociais-footer {
  padding: 0;
  margin: 0;
  gap: 10px;
}

.redes-sociais-footer > a {
  width: 35px;
  height: 35px;
}

.div-conteudo-footer > p {
  text-align: center;
}

.conteudo-footer1 > span {
  font-weight: 600;
}

.display-none {
  display: none;
}

.fundo-cor2 {
  background-color: var(--cor2);
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.aparescerParaDireita {
  animation: aparescerParaDireita linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.aparescerParaEsquerda {
  animation: aparescerParaEsquerda linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes aparescerParaDireita {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes aparescerParaEsquerda {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
