/* Celular */
@media (max-width: 480px) {
  .nav-div-icon,
  .btn-div-login {
    display: none;
  }

  .header-site {
    font-size: 16px;
    height: 9vh;
  }

  .nav-botoes {
    width: 100%;
  }

  .container1 {
    margin-top: 9vh;
    height: 91vh;
    background-size: cover;
  }

  .container1__div__header__titulo {
    font-size: 40px;
  }

  .container-projetos {
    margin: 50px 0;
  }

  .header-projetos {
    margin-bottom: 50px;
  }

  .div-itens-projetos {
    height: 80vh;
  }

  .titulo-projetos {
    margin-bottom: 10px;
  }

  .span-projetos {
    width: calc(100% - 80px);
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4";
    gap: 20px;
  }

  .container-maps {
    height: 60vh;
    min-height: 350px;
  }
}

/* Celular deitado */
@media (min-width: 481px) and (max-width: 767px) {
  .nav-div-icon,
  .btn-div-login {
    display: none;
  }

  .header-site {
    height: 10vh;
  }

  .nav-botoes {
    width: 100%;
  }

  .container1 {
    margin-top: 10vh;
    height: 90vh;
  }

  .container1__div__header__titulo {
    font-size: 40px;
  }

  .container-maps {
    height: 60vh;

    min-height: 350px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .header-site {
    font-size: 18px;
    height: 7vh;
  }

  nav > div:nth-child(2) {
    width: 65%;
  }

  .container1 {
    margin-top: 7vh;
    height: 93vh;
    min-height: 900px;
  }

  .container1__div__header__titulo {
    font-size: 45px;
  }

  .container-projetos {
    margin: 70px 0;
  }

  .header-projetos {
    margin-bottom: 70px;
  }

  .div-itens-projetos {
    height: 30vh;
    min-height: 350px;
  }

  .titulo-projetos {
    margin-bottom: 10px;
  }

  .span-projetos {
    width: calc(100% - 100px);
    grid-template-areas:
      "img1 img2 img4 img4"
      "img3 img3 img4 img4";
    gap: 20px;
  }

  .container-maps {
    width: 100%;
    height: 60vh;
  }
}

/* Computador */
@media (min-width: 1025px) {
  .header-site {
    font-size: 20px;
    height: 10vh;
  }

  nav > div:nth-child(2) {
    width: 50%;
  }

  .container1 {
    margin-top: 10vh;
    background-size: contain;
    height: 90vh;
  }

  .container1__div__header__titulo {
    font-size: 45px;
  }

  .container-projetos {
    margin: 70px 0;
  }

  .header-projetos {
    margin-bottom: 70px;
  }

  .div-itens-projetos {
    height: 80vh;
  }

  .titulo-projetos {
    margin-bottom: 10px;
  }

  .span-projetos {
    width: calc(100% - 100px);
    grid-template-areas:
      "img1 img2 img4 img4"
      "img3 img3 img4 img4";
    gap: 20px;
  }

  .container-maps {
    height: 60vh;
  }
}
