/* Celular */
@media (max-width: 480px) {
  .nav-div-icon,
  .btn-div-login {
    display: none;
  }

  .header-site {
    font-size: 16px;
    height: 9vh;
  }

  .nav-botoes {
    width: 100%;
  }

  .container1 {
    margin-top: 9vh;
    height: 91vh;
    background-size: cover;
  }

  .container1__div__header__titulo {
    font-size: 40px;
  }

  .container-modelo {
    padding: 50px 0;
  }

  .container-modelo__header {
    margin-bottom: 50px;
  }

  .div-projetos {
    height: fit-content;
  }

  .container-modelo__header__h2 {
    margin-bottom: 10px;
  }

  .span-projetos {
    width: calc(100% - 80px);
    grid-template-areas:
      "img4"
      "img3"
      "img2"
      "img1";
    gap: 20px;
  }

  .img-projetos {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .apiPostInput {
    width: 70%;
  }

  .input-nome-API {
    width: calc(100% - 95px);
    padding: 0 95px 0 10px;
    height: 45px;
  }

  .btn-enviar-API {
    width: 80px;
    height: 35px;
    z-index: 1;
    right: 0;
  }

  .span-API {
    width: 80%;
    height: 55vh;
  }

  .container-maps {
    height: 60vh;
    min-height: 350px;
  }
}

/* Celular deitado */
@media (min-width: 481px) and (max-width: 767px) {
  .nav-div-icon,
  .btn-div-login {
    display: none;
  }

  .header-site {
    font-size: 20px;
    height: 9vh;
  }

  .nav-botoes {
    width: 100%;
  }

  .container1 {
    margin-top: 9vh;
    height: 91vh;
    background-size: cover;
  }

  .container1__div__header__titulo {
    font-size: 40px;
  }

  .container-modelo {
    padding: 50px 0;
  }

  .container-modelo__header {
    margin-bottom: 50px;
  }

  .div-projetos {
    height: fit-content;
  }

  .container-modelo__header__h2 {
    margin-bottom: 10px;
  }

  .span-projetos {
    width: calc(100% - 100px);
    grid-template-areas:
      "img1 img1 img2 img2"
      "img3 img3 img4 img4";
    gap: 20px;
  }

  .img-projetos {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .apiPostInput {
    width: 70%;
  }

  .btn-enviar-API {
    width: 80px;
    height: 35px;
    z-index: 1;
    right: 0;
  }

  .span-API {
    width: 80%;
    height: 55vh;
    min-height: 400px;
  }

  .container-maps {
    height: 60vh;
    min-height: 350px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .header-site {
    font-size: 18px;
    height: 7vh;
  }

  nav > div:nth-child(2) {
    width: 65%;
  }

  .container1 {
    margin-top: 7vh;
    height: 93vh;
    min-height: 900px;
  }

  .container1__div__header__titulo {
    font-size: 45px;
  }

  .container-modelo {
    padding: 60px 0;
  }

  .container-modelo__header {
    margin-bottom: 60px;
  }

  .div-projetos {
    height: 30vh;
    min-height: 350px;
  }

  .container-modelo__header__h2 {
    margin-bottom: 10px;
  }

  .span-projetos {
    width: calc(100% - 100px);
    grid-template-areas:
      "img1 img1 img2 img2"
      "img3 img3 img4 img4";
    gap: 20px;
  }

  .container-maps {
    width: 100%;
    height: 60vh;
  }
}

/* Computador */
@media (min-width: 1025px) {
  .header-site {
    font-size: 20px;
    height: 10vh;
  }

  nav > div:nth-child(2) {
    width: 50%;
  }

  .container1 {
    margin-top: 10vh;
    background-size: contain;
    height: 90vh;
  }

  .container1__div__header__titulo {
    font-size: 45px;
  }

  .container-modelo {
    padding: 70px 0;
  }

  .container-modelo__header {
    margin-bottom: 70px;
  }

  .div-projetos {
    height: 80vh;
  }

  .container-modelo__header__h2 {
    margin-bottom: 10px;
  }

  .span-projetos {
    width: calc(100% - 100px);
    grid-template-areas:
      "img1 img2 img4 img4"
      "img3 img3 img4 img4";
    gap: 20px;
  }

  .header-API {
    margin-bottom: 60px;
  }

  .container-maps {
    height: 60vh;
  }

  .img-projetos:hover {
    border-radius: 10px;
    transition-duration: 0.5s;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
    transform: scale(1.02);
  }

  .img-projetos:hover .img-projetos-hover {
    bottom: 0;
    transition-duration: 0.75s;
  }
}
